PORT=5000
MONGODB_URI=mongodb+srv://scelta_admin:scelta!@34@sceltaadmin.osemhob.mongodb.net/?appName=sceltaadmin
JWT_SECRET=replace_with_a_long_random_secret_string
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
NODE_ENV=development
